{% extends 'WebApp/base.html' %}
{%load static %}
{%block content%}
{%for post in posts%}
<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="{{post.imagen.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{post.titulo}}</h5>
        <p class="card-text">{{post.contenido}}</p>
        <p class="card-text">{{post.autor}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
</div>
{% endfor %}
    <div style="width:75%; margin:auto; background-color:white; text-align:center;  ">

        <h3>Categorias:</h3>
        {%for post in posts%}
            {%for categoria in post.categorias.all%}
                {{categoria.nombre}} &nbsp;&nbsp;&nbsp;
            {% endfor %}
        {% endfor %}
    </div>
</section>
{%endblock%}